<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="icon" href="{% static 'admin/img/ToNaBê_Tabacaria_e_Headshops-removebg-preview.png' %}" type="image/x-icon">
    <title>Gestão ERP ToNaBê</title>
</head>
<body>
    <header> 
        <h1><img class="logo-header" src=" {% static 'admin/img/logo_header_bg_removed.png' %} " alt="logo do header"></h1>
        <p>Sistema de gestão da Tabacaria ToNaBê</p>
    </header>

    <nav>
        <a href="{% url 'sistema:pagina_principal' %}" class="btn ativo">Visão Geral</a>
        <a href="{% url 'sistema:pagina_estoque' %}" class="btn">Estoque</a>
        <a href="{% url 'sistema:pagina_vendas' %}" class="btn">Vendas</a>
        <a href="{% url 'sistema:pagina_produtos' %}" class="btn">Produtos</a>
        
       

    </nav>

    <main>
        <h2>Bem-vindo, {{request.user.username}}!</h2>
        <p>A ideia da página "Visão Geral" não é essa, fiz assim só pro projeto não ficar 100% vazio. Tem muito por vir ainda <3 </p>
        <div class="card-container">
            <div class="card">
                <h3>Visão Geral</h3>
                <p>Resumo das operações e desempenho do sistema</p>
            </div>
            <div class="card">
                <h3>Estoque</h3>
                <p>Gerenciamento de produtos em estoque</p>
            </div>
            <div class="card">
                <h3>Vendas</h3>
                <p>Registro e análise de vendas realizadas</p>
            </div>
            <div class="card">
                <h3>Produtos</h3>
                <p>Cadastro e gerenciamento de produtos</p>
            </div>
            <div class="card">
                <h3>Fornecedores</h3>
                <p>Gerenciamento de fornecedores e contatos</p>
            </div>
            <div class="card">
                <h3>Funcionários</h3>
                <p>Quadro de funcionários e suas funções</p>
            </div>
    </main>
    <footer>
        &copy; 2025 ToNaBê Tabacaria. Todos os direitos reservados.
    </footer>
</body>
</html>