<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="icon" href="{% static 'admin/img/ToNaBê_Tabacaria_e_Headshops-removebg-preview.png' %}" type="image/x-icon">
    <title>Gestão ERP ToNaBê</title>
</head>
<body>
    <header> 
        <h1><img class="logo-header" src=" {% static 'admin/img/logo_header_bg_removed.png' %} " alt="logo do header"></h1>
        <p>Sistema de gestão da Tabacaria ToNaBê</p>
    </header>

    <nav>
        <a href="{% url 'sistema:pagina_principal' %}" class="btn ativo">Visão Geral</a>
        <a href="{% url 'sistema:pagina_estoque' %}" class="btn">Estoque</a>
        <a href="{% url 'sistema:pagina_vendas' %}" class="btn">Vendas</a>
        <a href="{% url 'sistema:pagina_produtos' %}" class="btn">Produtos</a>
        
       

    </nav>

    <main>
        <h2>Bem-vindo, {{request.user.username}}!</h2>
    
        <h3>Faturamento Total</h3>
        <p><strong>R$ {{ total_faturamento }}</strong></p>
    
        <hr>
    
        <h3>Estoque Atual</h3>
        <table class="tabela-padrao">
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
    
            {% for e in estoques %}
            <tr>
                <td>{{ e.produto.nome }}</td>
                <td>{{ e.quantidade }}</td>
            </tr>
            {% endfor %}
        </table>
    
    </main>
    <footer>
        &copy; 2025 ToNaBê Tabacaria. Todos os direitos reservados.
    </footer>
</body>
</html>