<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'admin/img/ToNaBê_Tabacaria_e_Headshops-removebg-preview.png' %}" type="image/x-icon">
    <title>Gestão ERP ToNaBê | Cadastro</title>
</head>
    <h1>Cadastre-se</h1>
<body>
    <form action="{% url 'cadastro' %}" method="POST"> 
        
        {% csrf_token %}
    
        <input type="text" placeholder="Nome de usuário" name="username">
        <br>
        <br>
        <input type="email" placeholder="E-mail" name="email">
        <br>
        <br>
        <input type="password" placeholder="Senha" name="password">
        <br>
        <br>
        <input type="submit" value="Cadastrar">
    
    </form>

     <br><br><br>Você já tem uma conta?</p>
    <a href="{% url 'login' %}">
    <button>Faça seu login</button>
</a>
</body>
</html>

