

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}



header {
    background-color: #222;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.logo-header {
    width: 250px;
    height: auto;
}



nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 15px;
}

nav a {
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
}

nav a:hover {
    background-color: #444;
}

.btn.ativo {
    background-color: #ddd;
    color: #090909 !important;
    font-weight: bold;
}



main {
    padding: 40px;
    text-align: center;
}



.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}


table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

table thead {
    background-color: #222;
    color: white;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}


button, .botao, input[type="submit"] {
    padding: 8px 15px;
    border: none;
    background-color: #222;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
.botao:hover,
input[type="submit"]:hover {
    background-color: #444;
}


.btn-estoque {
    padding: 6px 12px;
    background-color: #333;
    border-radius: 5px;
}

.btn-estoque:hover {
    background-color: #555;
}



form {
    width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
}

form label {
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #bbb;
}



footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
