

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    text-align: center;
}



h1 {
    color: #222;
    margin-bottom: 20px;
    max-width: 700px;
}



p {
    color: #333;
    font-size: 15px;
}



button {
    padding: 10px 18px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}



a {
    text-decoration: none;
}


